<!DOCTYPE html>
{% load static %}
<html>

    <head>
        <title>Image Page</title>
        <link rel="stylesheet" href="{% static "css/base.css" %}" /> <!-- CSS -->
        <script src="{% static "js/jquery.js" %}"></script> <!-- JavaScript -->
    </head>

    <body>
        <h1>Rango says...</h1>
        hello world! The inner imgpage template <strong>{{ boldmessage }}</strong><br />

        <a href="/imgpage/add_category/">Add a New Category</a><br />
        <!--<img src="/static/images/pandabear.jpg" alt="Picture of Rango" />-->
        <img src="{% static "images/pandabear.jpg" %}" alt="Picture of Rango" /> 

 		<h1>Add a Category</h1>

        <form id="category_form" method="post" action="/imgpage/add_category.html">

            {% csrf_token %}
        
            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
            {% endfor %}
          <!--  <input type= "text" name="text" value="Name Tags" />-->
            <input type="submit" name="submit" value="Create Category" />
        </form>

        <a href="/imgpage/about/">About</a><br />
    </body>

</html>